<h3><a href="/questions/new">Add Questions</a></h3>

<h3><u>Current Questions</u></h3>
<div class="questionList">
  <% @questions.each do |question| %>
      <p><%= question.content %> <%= question.answer %></p>
      <p>Category: <%= question.category.name %></p>
      <p>Difficulty: <%= question.difficulty %></p>
      <%= link_to "Edit Question", edit_question_path(question) %>
  <% end %>
</div>
