
<h2>Sign up</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

  <div>
    <%= f.label :username, class: "labeltext" %>
    <%= f.text_field :username, class: "form-control input usernamebox" %>
  </div>

  <div>
    <%= f.label :email, class: "labeltext" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control input"  %>
  </div>

  <div>
    <%= f.label :password, class: "labeltext"  %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control input"  %>
  </div>

  <div>
    <%= f.label :password_confirmation, class: "labeltext"  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input"  %>
  </div>

  <div><%= f.submit "Sign up", class: "labeltext" , class: "submitbutton" %></div>

<% end %>



<%= render "devise/shared/links" %>
