<!DOCTYPE html>
<html>
<head>
  <title>GroupProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!--Google font -->

  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

</head>
<<<<<<< HEAD
<body class="backgroundstyle">

=======
<body class="backgroundstyle"  ng-app="mathGame">
>>>>>>> 8fa06789c5320424aaf578232a19fabd5222ef17
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
